<div style="background-image: url('img/polina.jpg')" class="main"> 
      <!-- video background-->
      <!-- replace URLs with your video content URL-->
      <video id="video-background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
      </video>
      <div class="overlay"></div>
      <div class="container">
        <p class="social"><font color="black"><a href="http://facebook.com/treehuddle" title="treeHuddle" ><img src="img/facebook.png" style="width:50px"></a>
          <!--<a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a> -->
        </p>
      <div style="margin-bottom: 20px"><%= embedded_svg "tH_v3.svg", class:"tHlogo" %></div>
      <!-- <h1 class="cursive_small">Don't struggle, <span style="color:#12a084">huddle</span></h1> -->
      <span style="display:inline-block; width:50%">
        <p style="font-family: Avenir; font-size: 30px; color: white">
          Out of a frustration at
          how much easier student life and
          academics are by colloborating 
          with one another,
          <br><br>
          We decided it was about time there
          was a platform to find, share and 
          create study groups on the fly.</p><br>
      </span>
        

        <span style="float:right">
        <h2 class="sub">study smarter,</h2><br>
        <h3 class="sub">join amazing people:</h3>
        <%= form_for @user do |f| %>
				<%= f.text_field :email, class: "form-control transparent textbox"%>
        <span class="text">@stanford.edu</span>
        <br><%= f.submit 'Go!', class: "btn suscribe"%>
			<% end %>
      
      </span>

      <div style="height:450px">
      <h2 class="sub title">Meet the team</h2>
      <br>
      <span style= "float: left;width: 50%;margin-right: 25px;"><%= image_tag "Paul.jpg", class:"image", style:"margin-left: 40%"%><br>
        <span class="intro"><strong>Paul Harrison </strong> is a technology enthusiast ranging from building a smart lighting system to keeping up with the latest startups. During his free time you'll find him cycling or fixing up his motorbike, that's when he's not practicing piano or jamming on his guitar.</span>
      </span>
      <span style="margin-left: 25px"><%= image_tag "Nadin.jpg", class:"image", style:"margin-left:190px"%><br>
        <span class="intro"><strong>Nadin El-Yabroudi </strong> dreams of going to space and becoming her version of Michelle Obama. From abstract algebra to her endless logic puzzles and 10k charity runs, you'll most probably catch her playing the violin.</span>
      </span>
      </div>

      <div style="width:50%">
      <h2 class="sub title"> Want to help?</h2><br>
            <svg width="231px" height="230px" viewBox="122 1349 231 230" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs>
              <ellipse id="path-1" cx="115" cy="115" rx="115" ry="115"></ellipse>
          </defs>
          <g id="info_bio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(122.000000, 1349.000000)">
              <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
              </mask>
              <use id="Mask" fill="#12A084" xlink:href="#path-1"></use>
              <text id="?" mask="url(#mask-2)" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="288" font-weight="normal" fill="#FFFFFF">
                  <tspan x="87" y="235">?</tspan>
              </text>
          </g>
      </svg><br>
      <span class="intro"><strong>You</strong> can help us make this the greatest student and social group creation platform ever. From Ruby on Rails to flat design, if you're interested we would love to hear from you!</span>
      </div>
      
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>treeHuddle&copy;</p>
            </div>


            <div class="col-md-6">
            <span class="credit">feedback</span>
            <span class="credit">Privacy</span>
              <span class="credit">join!</span>
               <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
            </div>
          </div>
        </div>
      </div>
    </div>